.page-wrapper {
    height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr;
    padding: 1rem;
}

.page-wrapper-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
